@import "../abstracts/mixins";
@import "../abstracts/variables";

.contacts {
  &__row {
    &:first-child {
      margin-bottom: 75px;
    }

    &:last-child {
      @include row-flexbox(normal, space-between);
    }
  }

  &__column {
    &:first-child {
      width: 21%;
      padding-top: 15px;
    }

    &:last-child {
      width: 67%;
    }
  }

  &__heading {
    color: $heading-color;
  }

  &__subheading {
    margin-bottom: 32px;
    width: 71%;
    @include text(inherit, $normal-font-size, $little-line-height, $medium-font-weight, inherit, left, none, 0);
  }

  &__map {
    height: 620px;
    width: 100%;
    background-image: url("../assets/img/06_Contacts_section/01_map.jpg");
    background-repeat: no-repeat;
    box-sizing: cover;
  }
}

.text-container {
  @include text(inherit, $little-font-size, $little-line-height, $light-font-weight, inherit, left, none, 0);

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    transition: all 1s;

    &:hover {
      color: $heading-color;
    }
  }
}
