@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  background-color: $black-background-color;

  &__top {
    padding: 76px 0 42px;
    border-bottom: 3px solid $footer-top-border;
  }

  &__container {
    @include row-flexbox(normal, space-between);
  }

  &__logo {
    height: 50px;
    width: 195px;
    background-image: url("../assets/svg/01_logo.svg");
  }

  &__navbar {
    margin-right: auto;
    margin-left: 135px;
    width: 32.4%;
  }

  &__social-navigation {
    margin-top: auto;
    margin-bottom: 12px;
    width: 23.3%;
  }

  &__bottom {
    padding: 36px 0;
    @include text($link-color, $link-font-size,$link-line-height, $extra-light-font-weight, inherit, center, none, $normal-letter-spacing);
  }

  .social-navigation {
    &__list {
      @include row-flexbox(normal, space-between);
    }

    &__item {
      height: 48px;
      width: 48px;
      border: 1px solid $light-gray-color;
      border-radius: 50%;
      transition: all 1s;

      &:hover {
        background-color: $heading-color;
        border-color: $heading-color;
      }
    }

    &__link {
      @include row-flexbox(center, center);

      height: 100%;
      width: 100%;
    }
  }

  .menu {
    &__item {
      width: 45%;

      &_left {
        text-align: left;
      }
    }
  }
}

.bottom {
  &__copy,
  &__company,
  &__author {
    width: fit-content;
  }
}
