@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  padding: 75px 0;
  background-color: $black-background-color;

  &__container {
    @include row-flexbox(center, space-between);
  }

  &__logo {
    margin-right: 521px;
    height: 50px;
    width: 195px;
    background-image: url("../assets/svg/01_logo.svg");
  }

  &__navbar {
    margin-left: auto;
    width: 50%;
  }
}

.menu {
  &__item {
    width: 15%;
    padding: 0 10px;
  }

  &__link {
    display: block;
  }
}
