/* stylelint-disable property-no-vendor-prefix */
@import "../abstracts/mixins";
@import "../abstracts/variables";

.video {
  padding: 79px 0 75px;

  &__container {
    @include row-flexbox;
  }

  &__frame {
    order: 1;
    margin-bottom: 41px;
    width: 100%;
  }

  &__row {
    @include row-flexbox(flex-start, space-between);

    order: 0;
    margin-bottom: 69px;
  }

  &__column {
    &:first-child {
      width: 43%;
    }

    &:last-child {
      width: 50%;
    }
  }

  &__heading {
    color: $heading-color;

    &::after {
      content: none;
    }
  }

  &__description {
    @include text($even-section-color, $common-text-font-size, 1.77, $light-font-weight, inherit, left, none, 0);
  }

  &__slider-for-video {
    order: 2;
    width: 100%;
  }
}

.frame {
  &__view {
    @include row-flexbox;

    height: 650px;
    width: 100%;
    background-image: url("../assets/img/04_Video_section/01_Video_poster.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__main-play {
    height: 220px;
    width: 220px;
    background-image: url("../assets/svg/02_Video_section/01_Main_play.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;

    &:hover {
      opacity: .5;
    }
  }

  &__toolbar {
    @include row-flexbox(normal, space-between);

    padding: 0 30px;
    background-color: $even-section-color;
  }

  &__video-manage-container {
    @include row-flexbox(center, space-between);

    width: 23px;
  }

  &__video-manage-container,
  &__video-progress,
  &__volume-progress,
  &__resize-screen {
    gap: 41px;
  }

  &__video-progress {
    width: 67%;
    padding: 35px 0;
  }

  &__video-progress-range {
    height: 8px;
    width: 100%;
    background: linear-gradient(to right, $fill-gradient-color 0%, $fill-gradient-color 54%, $blank-gradient-color 54%, $blank-gradient-color 100%);
    border: none;
    outline: none;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      background: $cursor-color;
      border-radius: 50%;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }

  &__volume-progress {
    @include row-flexbox(center, space-between);

    width: 17%;
    padding: 28px 0;
  }

  &__volume-progress-range {
    height: 8px;
    width: 64%;
    background: linear-gradient(to right, $fill-gradient-color 0%, $fill-gradient-color 45%, $blank-gradient-color 45%, $blank-gradient-color 100%);
    border: none;
    outline: none;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      background: $cursor-color;
      border-radius: 50%;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }

  &__resize-screen {
    padding: 25px 0;
  }

  &__resize-screen-button {
    height: 36px;
    width: 36px;
    background-image: url("../assets/svg/02_Video_section/06_screen_resize_icon.svg");
    background-repeat: no-repeat;
    transition: all 1s;

    &:hover {
      opacity: .5;
    }
  }
}

.video-manage-container {
  padding: 28px 0;

  &__item {
    height: 30px;
    width: 23px;
    gap: 41px;
    background-image: url("../assets/svg/02_Video_section/03_play_btn.svg");
    background-repeat: no-repeat;
    transition: all 1s;

    &:hover {
      opacity: .5;
    }
  }
}

.slider-for-video {
  &__video-list {
    @include row-flexbox(center, space-between);

    margin-bottom: 40px;
  }

  &__video-pagination {
    @include row-flexbox(center, space-between);

    margin: 0 auto;
    width: 14%;
  }
}

.volume-progress {
  &__item {
    height: 30px;
    width: 38px;
    gap: 20px;
    background-image: url("../assets/svg/02_Video_section/05_volume_icon.svg");
    background-repeat: no-repeat;
    transition: all 1s;

    &:hover {
      opacity: .5;
    }
  }
}

.video-list {
  &__item {
    height: 254px;
    width: 31.4%;
  }

  &__frame {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.video-pagination {
  &__previous,
  &__next {
    @include row-flexbox(center, center);

    height: 12px;
    width: 12px;
    background-position: center;
    background-size: cover;
    transition: all 1s;
  }

  &__previous {
    background-image: url("../assets/svg/02_Video_section/07_Slider_icons/01_left_arrow_icon.svg");

    &:hover {
      background-image: url("../assets/svg/02_Video_section/08_Hover_effect/03_left_arrow_hover_icon.svg");
    }
  }

  &__next {
    background-image: url("../assets/svg/02_Video_section/07_Slider_icons/02_right_arrow_icon.svg");

    &:hover {
      background-image: url("../../assets/svg/02_Video_section/08_Hover_effect/02_right_arrow_hover_icon.svg");
    }
  }

  &__video-carousel {
    @include row-flexbox(center, space-between);

    width: 70%;
  }
}

.video-carousel {
  &__item {
    height: 12px;
    width: 12px;
    background-color: $video-pagination-item;
    border-radius: 50%;
    transition: all 1s;

    &:hover {
      background-color: $hover-video-carousel-item;
    }

    &_active {
      background-color: $video-pagination-active-item;
    }
  }
}
