/* stylelint-disable no-eol-whitespace */

/* stylelint-disable at-rule-no-unknown */
@mixin text($color, $fontSize, $lineHeight, $fontWeight, 
$fontFamily:(Roboto, Arial, sans-serif), 
$textAlign:left,
$textTransform:none, $letterSpacing:$normal-letter-spacing) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  text-align: $textAlign;
  text-transform: $textTransform;
}

@mixin row-flexbox($alignItems:center, $justifyContent:center) {
  display: flex;
  flex-flow: row wrap;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin column-flexbox() {
  display: flex;
  flex-direction: column;
}

@mixin border($borderRadius:0, $border:none) {
  border: $border;
  border-radius: $borderRadius;
}

@mixin after-element($displayElement:block, $marginTop: 0, $widthElement:auto, $borderBottom:none, $contentElement:" ") {
  display: $displayElement;
  margin-top: $marginTop;
  width: $widthElement;
  border-bottom: $borderBottom;
  content: $contentElement;
}

@mixin block-size($margin:0, $height:auto, $width:auto, $padding:0) {
  margin: $margin;
  height: $height;
  width: $width;
  padding: $padding;
}
